@import "tailwindcss";
@plugin "daisyui";




@media (prefers-color-scheme: dark) {
  :root {
     /* Screens */
  --screens-xs: 475px;

  /* Colors */
  --color-primary-100: #FFE8F0;
  --color-primary: #EE2B69;
  --color-secondary: #FBE843;
  --color-black-100: #333333;
  --color-black-200: #141413;
  --color-black-300: #7D8087;
  --color-black: #000000;
  --color-white-100: #F7F7F7;
  --color-white: #FFFFFF;

  /* Font Family */
  --font-work-sans: "var(--font-work-sans)";

  /* Border Radius */
  --border-radius-lg: var(--radius);
  --border-radius-md: calc(var(--radius) - 2px);
  --border-radius-sm: calc(var(--radius) - 4px);

  /* Box Shadow */
  --box-shadow-100: 2px 2px 0px 0px rgb(0, 0, 0);
  --box-shadow-200: 2px 2px 0px 2px rgb(0, 0, 0);
  --box-shadow-300: 2px 2px 0px 2px rgb(238, 43, 105);
  }
}

@layer utilities {
    .heading {
        @apply uppercase bg-black px-6 py-3 font-work-sans font-extrabold text-white sm:text-[54px] sm:leading-[64px] text-[36px] leading-[46px] max-w-5xl text-center my-5 rounded 
    }

    .pink_container {
        @apply w-full bg-primary min-h-[530px] flex justify-center items-center flex-col py-10 px-6;
    }

    .sub-heading {
        @apply font-medium text-[20px] text-white max-w-2xl text-center break-words;
    }    
  
    .search-form {
        @apply max-w-3xl w-full min-h-[80px] bg-white border-[5px] border-black rounded-[80px] text-[24px] mt-8 px-5 flex flex-row items-center gap-5;
    }

    .search-input {
        @apply flex-1 font-bold placeholder:font-semibold text-black-200 placeholder:text-black-300 w-full h-auto outline-none;
    }

    .search-btn {
        @apply size-[50px] rounded-full bg-black flex justify-center items-center;
    }

    .flex-between {
    @apply flex justify-between items-center;
  }

  .text-30-extrabold {
    @apply text-[30px] font-extrabold text-white;
  }

  .text-30-bold {
    @apply text-[30px] font-bold text-black;
  }

  .text-30-semibold {
    @apply font-semibold text-[30px] text-black;
  }

  .text-26-semibold {
    @apply font-semibold text-[26px] text-black;
  }

  .text-24-black {
    @apply text-[24px] font-black text-black;
  }

  .text-20-medium {
    @apply font-medium text-[20px] text-black;
  }

  .text-16-medium {
    @apply font-medium text-[16px] text-black;
  }

  .text-14-normal {
    @apply font-normal text-sm text-white-100/80;
  }

    .section_container {
    @apply px-6 py-10 max-w-7xl mx-auto;
  }

  .card_grid {
    @apply grid md:grid-cols-3 sm:grid-cols-2 gap-5;
  }

  .card_grid {
    @apply grid md:grid-cols-3 sm:grid-cols-2 gap-5;
  }

  .card_grid-sm {
    @apply grid sm:grid-cols-2 gap-5;
  }

  .no-result {
    @apply text-black-100 text-sm font-normal;
  }

  .startup-card_desc {
    @apply font-normal text-[16px] line-clamp-2 my-3 text-black-100 break-all;
  }
    .startup-card_img {
    @apply w-full h-[164px] rounded-[10px] object-cover;
  }

  .startup-card_btn {
    @apply rounded-full bg-black-200 font-medium text-[16px] text-white px-5 py-3;
  }

  .startup-card_skeleton {
    @apply w-full h-96 rounded-[22px] bg-zinc-400;
  }

.startup-card {
  @apply bg-white border-[5px] border-black py-6 px-5 rounded-[22px] 
         hover:border-primary transition-all duration-500 hover:bg-primary-100 
         shadow-[2px_2px_0px_2px_rgb(0,0,0)] 
         hover:shadow-[2px_2px_0px_2px_rgb(238,43,105)];
}




}




@theme {
  /* Screens */
  --screens-xs: 475px;

  /* Colors */
  --color-primary-100: #FFE8F0;
  --color-primary: #EE2B69;
  --color-secondary: #FBE843;
  --color-black-100: #333333;
  --color-black-200: #141413;
  --color-black-300: #7D8087;
  --color-black: #000000;
  --color-white-100: #F7F7F7;
  --color-white: #FFFFFF;

  /* Font Family */
  --font-work-sans: "var(--font-work-sans)";

  /* Border Radius */
  --border-radius-lg: var(--radius);
  --border-radius-md: calc(var(--radius) - 2px);
  --border-radius-sm: calc(var(--radius) - 4px);

  /* Box Shadow */
  --box-shadow-100: 2px 2px 0px 0px rgb(0, 0, 0);
  --box-shadow-200: 2px 2px 0px 2px rgb(0, 0, 0);
  --box-shadow-300: 2px 2px 0px 2px rgb(238, 43, 105);
}